.form-contact{
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: rgba(217, 217, 217, 0.03);
    border: 1px solid rgba(134, 132, 132, 0.36);
    border-radius: 12px;
    padding: 45px 20px;
    width: 100%;
    max-width: 592px;
}


.form-contact label{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #fff;
}

.form-contact label input{
    padding: 0 0 0 8px;
    height: 42px;
    margin: 8px 0;
    border: 1px solid rgba(134, 132, 132, 0.21);
    border-radius: 4px;
    background: #1C1F2A;
}


.form-contact button{
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}
