footer{
    border: 1px solid rgba(134, 132, 132, 0.21);
    background: #1C1F2A;
    padding: 12px 0;
}

footer .container{
    display: flex;
    justify-content: space-between;
}

footer .copy{
    display: flex;
    align-items: center;
    gap: 8px;
}

footer .copy p{
    color: #fff;
    font-size: 14px;
}