header{
    padding: 24px 0;
}
header .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .content .menu ul{
    display: flex;
    align-items: center;
    gap:32px;
}

header .content .menu ul li a{
    text-decoration: none;
    color: var(--white-primary);
    font-size: 20px;
    font-weight: 400;
    transition: all 0.3s;
}
header .content .menu ul li a:hover{
    text-decoration: underline;
}

@media (max-width:768px){
    header .content .menu{
        display: none;
    }
}