.project-single{
    width: 100%;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-card);
    padding: 32px 16px;
    border: 1px solid rgba(112, 112, 112, 0.46);
    border-radius: 8px;
}

.project-single img{
    object-fit: contain;
    width: 100%;
}

.project-single h3{
    font-size: 24px;
    color: #F8F5F2;
    line-height: 34px;
    margin: 12px 0 16px;
}

.project-single p{
    font-size: 16px;
    color: #F8F5F2;
    line-height: 28px;
    margin: 0 0 24px;
    text-align: center;
}

.project-single a{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: var(--orange);
    line-height: 24px;
    text-decoration: underline;
}