/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Asap", serif;
    scroll-behavior: smooth;
}

:root {
    --white-primary:#E2E4E9;
    --white-secondary: #E2E4E9;
    --bg-card:rgba(29, 32, 32, 0.63);
    --black:#16181D;
    --green: #078080;
    --orange: #F45D48;
}

body.dark-theme {
    --white-primary: #16181D;
    --white-secondary: #16181D;
    --black: #E2E4E9;
    --bg-card:#16181D;;
}

body {
    background-color: var(--black); 
    color: var(--white-primary); 
    transition: background-color 0.3s, color 0.3s;
}

body.dark-theme {
    background-color: var(--black); 
}


li{list-style-type: none;}

.container{
    width: 100%;
    max-width: 1224px;
    margin: 0 auto;
    padding: 0 20px;
}

.dark-light {
    cursor: pointer;
    display: inline-block;
}