<main>
    <section class="hero_home">
        <div class="container">
            <h6>Hello World! Meu nome é <strong>Lucas Martins</strong> e sou</h6>
            <h1>Desenvolvedor Fullstack</h1>
            <p>Transformo necessidades em soluções digitais inovadoras e funcionais, criando aplicações que aliam eficiência e evolução tecnológica. Com uma abordagem orientada pela paixão por tecnologia e inovação, desenvolvo sistemas robustos e escaláveis, oferecendo respostas eficazes para desafios complexos e impactando positivamente os resultados de negócios."</p>
        </div>    
    </section>

    <section class="tags_home">
        <div class="container content">
            <app-tag-single 
                [iconPath]="'assets/github-icon.svg'" 
                text="Github">
            </app-tag-single>
            <app-tag-single 
                [iconPath]="'assets/html-icon.svg'" 
                text="HTML">
            </app-tag-single>
            <app-tag-single 
                [iconPath]="'assets/css-icon.svg'" 
                text="CSS">
            </app-tag-single>
            <app-tag-single 
                [iconPath]="'assets/js-icon.svg'" 
                text="Javascript">
            </app-tag-single>
            <app-tag-single 
                [iconPath]="'assets/react-icon.svg'" 
                text="React">
            </app-tag-single>
            <app-tag-single 
                [iconPath]="'assets/php-icon.svg'" 
                text="PHP">
            </app-tag-single>
            <app-tag-single 
                [iconPath]="'assets/laravel-icon.png'" 
                text="Laravel">
            </app-tag-single>
            <app-tag-single 
                [iconPath]="'assets/wordpress-icon.svg'" 
                text="Wordpress">
            </app-tag-single>
            <app-tag-single 
                [iconPath]="'assets/docker-icon.svg'" 
                text="Docker">
            </app-tag-single>
            <app-tag-single 
                [iconPath]="'assets/figma-icon.svg'" 
                text="Figma">
            </app-tag-single>
        </div>
    </section>

    <section class="ecom_home">
        <div class="container">
            <h2>Plataformas Ecommerce</h2>

            <div class="content">
                <app-tag-single 
                    [iconPath]="'assets/vtex-icon.png'" 
                    [text]="'Vtex IO'" 
                    [width]="'75'">
                </app-tag-single>
                <app-tag-single 
                    [iconPath]="'assets/shopify-icon.png'" 
                    [text]="'Shopify'">
                </app-tag-single>
                <app-tag-single 
                    [iconPath]="'assets/wake-icon.png'" 
                    [text]="'Wake'"
                    [width]="'45'">
                </app-tag-single>
                <app-tag-single 
                    [iconPath]="'assets/deco-icon.png'" 
                    [text]="'Deco.cx'">
                </app-tag-single>
                <app-tag-single 
                    [iconPath]="'assets/woo-icon.png'" 
                    [text]="'Woocommerce'"
                    [width]="'40'">
                </app-tag-single>
            </div>
        </div>
    </section>

    <section class="projects_home">
        <div class="container">
            <h2>Meus projetos</h2>
            <p>Projetos desenvolvidos integralmente por mim, da concepção ao deploy.</p>
        </div>
    </section>
</main>