section.hero_home{
    padding: 80px 0;
    text-align: center;
}

section.hero_home h6{
    color: #C0C4CE;
    font-size: 24px;
    line-height: 36px;
}

section.hero_home h6 strong{
    color: #078080;
}

section.hero_home h1{
    font-size: 64px;
    line-height: 74px;
    color: #E2E4E9;
    margin: 8px 0 24px;
}

section.hero_home p{
    color: #F8F5F2;
    font-size: 18px;
    line-height:28px;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

/* Section tags */

section.tags_home .content{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    width: 100%;
    max-width: 980px;
    justify-content: center;
}

@media (max-width:768px){
    section.hero_home h1{
        font-size: 42px;
        line-height: 52px;
    }
    
}

/* section ecom tags */


section.ecom_home h2{
    color: #E2E4E9;
    font-size: 24px;
    text-align: center;
    line-height: 34px;
    margin: 36px 0 28px;
}

section.ecom_home .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}


section.ecom_home .content .tag_single{
    background: #292C34;
    color: #C0C4CE;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    font-size: 16px;
    line-height: 16px;
    width: fit-content;
    border-radius: 999px;
    cursor: pointer;
}

/* projects home */
app-project-card {
    width: 100%;
    max-width: 420px;
}

section.projects_home{
    padding: 128px 0 64px;
}

section.projects_home h2{
    color: #F8F5F2;
    text-align: center;
    font-size: 42px;
    line-height: 52px;
    margin: 0 0 16px;
}


section.projects_home p{
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    width: 100%;
    max-width: 480px;
    margin: 0 auto 48px;
    color: #F8F5F2;
}

section.projects_home .content{
    display: flex;
    justify-content: center;
    gap: 23px 20px;
}

/* contact */


section.form_home{
    padding: 64px 0 80px;
}

section.form_home .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.form_home .content .text{
    width: 100%;
    max-width: 520px;
}

section.form_home .content .text h2{
    color: #F8F5F2;
    font-size: 42px;
    line-height: 52px;
    margin: 0 0 16px;
    max-width: 420px;
    width: 100%;
}

section.form_home .content .text p{
    color: #F8F5F2;
    font-size: 18px;
    line-height:28px;
    margin: 0 0 48px;
}

section.form_home .content .text .buttons{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

section.form_home .content .text a{
    display: flex;
    width: 100%;
    max-width: 380px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    height: 42px;
    border-radius: 8px;
    color: #fff;
    background: #00918F;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
}

section.form_home .content .text a.download{
    background: #F45D48;
}

#form{
    width: 100%;
    max-width: 592px;
}

@media (max-width:768px){
    section.form_home .content{
        flex-direction: column;
        gap: 48px;
    }

    
    section.form_home .content .text,
    section.form_home .content .text h2{
        text-align: center;
    }

    section.form_home .content .text h2{
        margin: 0 auto 16px;
    }

    section.form_home .content .text .buttons{
        justify-content: center;
        align-items: center;
    }
}