<main>
    <section id="about" class="hero_home">
        <div class="container">
            <h6>Hello World! Meu nome é <strong>Lucas Martins</strong> e sou</h6>
            <h1>Desenvolvedor Fullstack</h1>
            <p>"Atualmente, trabalho com plataformas de e-commerce como VTEX, Wake e Shopify, ajudando empresas a escalarem seus negócios online. Paralelamente, dedico meu tempo ao estudo de Laravel, meu principal foco para aprimorar habilidades e me tornar um desenvolvedor PHP.
            Acompanhando as tendências do mercado para oferecer soluções que atendam às demandas atuais e futuras. Meu objetivo é evoluir continuamente como desenvolvedor, construindo uma base sólida em PHP e Laravel."</p>
        </div>    
    </section>

    <section id="habilits" class="tags_home">
        <div class="container content">
            <app-tag-single 
                [iconPath]="'assets/github-icon.svg'" 
                text="Github">
            </app-tag-single>
            <app-tag-single 
                [iconPath]="'assets/html-icon.svg'" 
                text="HTML">
            </app-tag-single>
            <app-tag-single 
                [iconPath]="'assets/css-icon.svg'" 
                text="CSS">
            </app-tag-single>
            <app-tag-single 
                [iconPath]="'assets/js-icon.svg'" 
                text="Javascript">
            </app-tag-single>
            <app-tag-single 
                [iconPath]="'assets/react-icon.svg'" 
                text="React">
            </app-tag-single>
            <app-tag-single 
                [iconPath]="'assets/php-icon.svg'" 
                text="PHP">
            </app-tag-single>
            <app-tag-single 
                [iconPath]="'assets/laravel-icon.png'" 
                text="Laravel">
            </app-tag-single>
            <app-tag-single 
                [iconPath]="'assets/wordpress-icon.svg'" 
                text="Wordpress">
            </app-tag-single>
            <app-tag-single 
                [iconPath]="'assets/docker-icon.svg'" 
                text="Docker">
            </app-tag-single>
            <app-tag-single 
                [iconPath]="'assets/figma-icon.svg'" 
                text="Figma">
            </app-tag-single>
        </div>
    </section>

    <section class="ecom_home">
        <div class="container">
            <h2>Plataformas Ecommerce</h2>

            <div class="content">
                <app-tag-single 
                    [iconPath]="'assets/vtex-icon.png'" 
                    [text]="'Vtex IO'" 
                    [width]="'75'">
                </app-tag-single>
                <app-tag-single 
                    [iconPath]="'assets/shopify-icon.png'" 
                    [text]="'Shopify'">
                </app-tag-single>
                <app-tag-single 
                    [iconPath]="'assets/wake-icon.png'" 
                    [text]="'Wake'"
                    [width]="'45'">
                </app-tag-single>
                <app-tag-single 
                    [iconPath]="'assets/deco-icon.png'" 
                    [text]="'Deco.cx'">
                </app-tag-single>
                <app-tag-single 
                    [iconPath]="'assets/woo-icon.png'" 
                    [text]="'Woocommerce'"
                    [width]="'40'">
                </app-tag-single>
            </div>
        </div>
    </section>

    <section id="projects" class="projects_home">
        <div class="container">
            <h2>Meus projetos</h2>
            <p>Projetos desenvolvidos integralmente por mim, da concepção ao deploy.</p>

            <div class="content">
                <app-project-card
                    [imgPath]="'assets/litoral-logo.png'"
                    [title]="'Litoral Vagas'"
                    [url]="'https://litoralvagas.com.br'"
                    [description]="'Um site de vagas intuitivo e eficiente, conectando empresas e candidatos para oportunidades de emprego em diversas áreas.'"
                    >
                </app-project-card>
            </div>
        </div>
    </section>


    <section id="contact" class="form_home">
        <div class="container content">
            <div class="text">
                <h2>Como posso ajudar seu negócio?</h2>
                <p>Se você tem interesse em trocar ideias, colaborar em projetos ou precisa de ajuda com soluções para e-commerce ou desenvolvimento web, ficarei feliz em conversar!</p>
                <!-- <div class="buttons">
                    <a class="contact" href="">ENTRAR EM CONTATO</a>
                    <a class="download" href="">DOWNLOAD CV</a>
                </div> -->
            </div>

            <div id="form">
                <app-form-contact></app-form-contact>
            </div>
        </div>
    </section>
</main>